
<div mat-dialog-title>
    <h1>Sign In</h1>
</div>
<div mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput>
        </mat-form-field>
    
</div>
<div class="row">
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput type="password">
    </mat-form-field>

<div mat-dialog-action>
    <button mat-raised-button color="primary">log in</button>
    <button mat-raised-button>cancel</button>
</div>