
  <mat-toolbar color="primary">


    <span><button mat-icon-button color="" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button></span>My Application &nbsp;&nbsp;
    <div class="input-group mb-3">
      <span class="input-group-text" ></span>
      <input type="text" class="form-control" placeholder="Ex.Electronics & Mobiles">
    </div><button mat-icon-button ><mat-icon>search</mat-icon></button>
    
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="signin()">Sign-In</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="openAddEditForm()">
        Create Account

      </button><br>

       
      
      
       

  </mat-toolbar>
  <button mat-raised-button (click)="cloth()">Cloths</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="mobile()">Mobile</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="cloth()">kitchen</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="mobile()">Books</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="mobile()">Mens</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="cloth()">Womens</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="mobile()">Kids</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="cloth()">help</button>&nbsp;&nbsp;
      <button mat-raised-button (click)="mobile()">Contact Us</button>

  <div id="carouselExample" class="carousel slide">
     
    
    <div class="carousel-inner">
     
      
      <div class="carousel-item active">
        <img src="assets/doenload(6).webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/download(4).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/download(5).avif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
