<div mat-dialog-title>
  <h1>Customer form</h1>
</div>
<div mat-dialog-content class="content">

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <div class="row">
    <mat-radio-group aria-label="Select an option">
      <mat-label><b>Gender:</b></mat-label>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="others">Others</mat-radio-button>
    </mat-radio-group>
   
  </div>

  <div class="row">
<mat-form-field appearance="outline">
  <mat-label>State</mat-label>
  <mat-select>
    <mat-option>None</mat-option>
    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
  </mat-select>
</mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label><Address>Address:</Address></mat-label>
      <input matInput>
    </mat-form-field>

  </div>
  <div class="row">
    <div>
    <mat-form-field appearance="outline">
      <mat-label>
        password:
      </mat-label>

      <input matInput type="password">
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
           Confirm password:
        </mat-label>
  
        <input matInput type="password">
      </mat-form-field>
    </div>

    </div>


  <div mat-dialog-action class="action">
    <button mat-raised-button color="primary">save</button>
    <button mat-raised-button>cancel</button>
  </div>