<div class="container">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card text-bg"><h2>Summer Special Deal</h2>
            <img src="assets/download.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Complete combo</h5><br>
              <p class="card-text">Rs 2500-4000/- combo of 2 shirts,1 denim,jacket,shoe & hat Grab a deal<br><br><br><br>
                <a href="#" class="btn btn-primary Add-to-Cart">Add</a>
                <a href="#" class="btn btn ">cancel</a><br><br><br>
                 </div>
          </div>
        </div>
        <div class="col">
            <div class="card text-bg-warning"><h2> Special Offer</h2>
              <img src="assets/download (3).jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Yellow jacket</h5>
                <p class="card-text">Premium Rs 5000-14000/-Grab a deal<br><br><br>
                    <br>
                  <a href="#" class="btn btn-primary Add-to-Cart">Add</a>
                  <a href="#" class="btn btn ">cancel</a><br><br>
                   </div>
            </div>
          </div>
          <div class="col">
            <div class="card "><h2>Summer Special Deal</h2>
              <img src="assets/download (2).jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">full dress</h5><br>
                <p class="card-text"> Rs 2500/-Grab a deal<br><br>
                  <a href="#" class="btn btn-primary Add-to-Cart">Add</a>
                  <a href="#" class="btn btn ">cancel</a><br><br><br><br>
                   </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-warning"><h2>Summer Special Deal</h2>
              <img src="assets/download (1).jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">iPhone12</h5>
                <p class="card-text">Premium Rs 25000-40000/-Grab a deal<br><br><br>
                  <a href="#" class="btn btn-primary Add-to-Cart">Add</a>
                  <a href="#" class="btn btn ">cancel</a>
                   </div>
            </div>
          </div>
      </div>
    </div>